<div class="container-fluid fondo-formulario bodyContenedor py-4">

    <div class="row ">
        <div class="col-9 col-md-5 bg-light m-auto formularios ">
            <h3 class="m-0 pt-2 text-center">Subi tu libro</h3>

            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="form-group m-0">

                    <label for="titulo"></label>
                    <input id="titulo" name="titulo" placeholder="Titulo" type="text" required class="text-center form-control">
                </div>


                <div class="form-group m-0">
                    <label for="autor"></label>
                    <input id="autor" name="autor" placeholder="Autor" type="text" required class="text-center form-control">
                </div>
                <div class="form-group m-0">
                    <label for="editorial"></label>
                    <input id="editorial" name="editorial" placeholder="Editorial" type="text" required
                        class="form-control text-center">
                </div>

                <div class="form-group m-0">
                    <label for="isbn"></label>
                    <input id="isbn" name="isbn" placeholder="ISBN sin guiones" type="text" class="form-control text-center">
                </div>
                <div class="form-group m-0">
                    <select name="tematica" class="custom-select text-center mt-4" >
                        <option selected>Tematica</option>
                        <option value="arte">Arte</option>
                        <option value="naturales">Ciencias Naturales</option>
                        <option value="computacion">Computacion</option>
                        <option value="enciclopedias">Enciclopedias</option>
                        <option value="ficcionLiteratura">Ficcion y Literatura</option>
                        <option value="gastronomia">Gastronomia</option>
                        <option value="infantil">Infantil</option>
                        <option value="negocio">Negocio</option>
                    </select>
                </div>


                <div class="form-group mt-2">
                    <label for="imgBook">Imagenes</label>
                    <input type="file" class="form-control-file" name="imgBook" id="imgBook" accept="image/*" required>
                </div>


                <div class="form-group mt-4 text-center">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">Subir</button>
                </div>

            </form>
        </div>
    </div>
</div>